<div class="slider-submitting">
	<div class="slider-submit">
		<div class="slider-submit__item">
			<img src="img/slider/slide-01.png" alt="slide-01" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-02.png" alt="slide-02" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-03.png" alt="slide-03" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-04.png" alt="slide-04" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-05.png" alt="slide-05" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-06.png" alt="slide-06" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-07.png" alt="slide-07" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-08.png" alt="slide-08" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-09.png" alt="slide-09" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-10.png" alt="slide-10" loading="lazy">
		</div>
		<div class="slider-submit__item">
			<img src="img/slider/slide-11.png" alt="slide-11" loading="lazy">
		</div>
	</div>

</div>