<div class="sec-community">
	<div class="sec-community__title">
		<a href="">
			<h4>Hear from Hacker Noon contributors</h4>
		</a>
	</div>
	<div class="sec-community__masonry">
		<a href="https://twitter.com/nwthomas_/status/1316400118036410376">
			<div class="sec-community__masonry-brick">
				<img class="sec-community__masonry-img" src="img/community/publish-msg-01.png" alt="Nathan Thomas, Software Engineer @Twitter" loading="lazy">
				<span class="sec-community__author-msg">
					Nathan Thomas, Software Engineer @Twitter
				</span>
			</div>

		</a>

		<a href="https://twitter.com/andychanjh/status/1208423528472530945">

			<div class="sec-community__masonry-brick">
				<img class="sec-community__masonry-img" src="img/community/publish-msg-02.png" alt="Andy Chan, Founder at Human+Business" loading="lazy">
				<span class="sec-community__author-msg">
					Andy Chan, Founder at Human+Business
				</span>
			</div>

		</a>

		<a href="https://twitter.com/SHERM8N/status/1265724127228448768">

			<div class="sec-community__masonry-brick">
				<img class="sec-community__masonry-img" src="img/community/publish-msg-03.png" alt="Sherman Lee, Co-Founder Raven Protocol" loading="lazy">
				<span class="sec-community__author-msg">
					Sherman Lee, Co-Founder Raven Protocol
				</span>
			</div>

		</a>

		<a href="https://twitter.com/bytrangle/status/1285570825337200640">

			<div class="sec-community__masonry-brick">
				<img class="sec-community__masonry-img" src="img/community/publish-msg-04.png" alt="Trang Le, Web Developer" loading="lazy">
				<span class="sec-community__author-msg">
					Trang Le, Web Developer
				</span>
			</div>

		</a>
	</div>
</div>