<div class="gallery">
	<div class="gallery__title">
		<h4 class="top">A taste of what our 10,000+ writers are publishing</h4>
		<h4 class="bottom">You might not be the smartest person in this room, for a change.</h4>
	</div>
	<div class="gallery__wrapper">

		<div class="gallery__item">
			<a href="https://hackernoon.com/apple-cements-the-unlikely-rise-of-web-components-6b1d3g1t">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-01.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Apple Cements the Unlikely Rise of Web Components</p>
						<p class="author">Max Lynch</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/test-driven-development-is-fundamentally-wrong-hor3z4d">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-02.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Test-Driven Development is Fundamentally Wrong</p>
						<p class="author">Chris Fox</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-space-tech-startup-making-our-internet-a-better-place-with-lasers-k33230le">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-03.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">The Space Tech Startup Making Our Internet A Better Place With Lasers🖖</p>
						<p class="author">Rachel Lee</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/managing-a-bad-product-strategy-qh1744w0">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-04.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Managing a Bad Product Strategy</p>
						<p class="author">Matt Grierson</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-last-mile-to-true-continuous-delivery-6sk323j">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-05.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Solving the Last Mile Problem for Continuous Delivery</p>
						<p class="author">Code Climate</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/10-reasons-i-didnt-raise-vc-and-my-startup-still-went-up-and-to-the-right-ljhy3ysy">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-06.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">10 Reasons I Didn't Raise VC, and My Startup Still Went Up and to the Right</p>
						<p class="author">Sandra Shpilberg</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/a-crash-course-on-serverless-with-aws-building-apis-with-lambda-and-aurora-serverless-49885c46e37a">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-07.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">A crash course on Serverless with AWS : Building APIs with Lambda and Aurora Serverless</p>
						<p class="author">Adnan Rahić</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-goodies-of-python-decorators-66r3tsy">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-08.jpg" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">What You Probably Don't Know About Python Decorators</p>
						<p class="author">Alex Zaiets</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-goodies-of-python-decorators-66r3tsy">
				<div class="gallery__item-content">
					<img src="img/gallery/gal-img-09.png" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Open Source Explained by 1980s Cartoons</p>
						<p class="author">Alex C-G</p>
					</div>
				</div>
			</a>
		</div>



	</div>
</div>