<div class="slider-press">
	<div class="slider-press__title">
		<h4>Hacker Noon stories</h4>
		<h4>get cited all over the interwebs</h4>
	</div>
	<div class="slider-press__list">
		<div class="slider-press__item"><img src="img/press/press-01.png" alt="press-01" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-02.png" alt="press-02" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-03.png" alt="press-03" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-04.png" alt="press-04" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-05.png" alt="press-05" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-06.png" alt="press-06" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-07.png" alt="press-07" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-08.png" alt="press-08" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-09.png" alt="press-09" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-10.png" alt="press-10" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-11.png" alt="press-11" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-12.png" alt="press-12" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-13.png" alt="press-13" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-14.png" alt="press-14" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-15.png" alt="press-15" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-16.png" alt="press-16" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-17.png" alt="press-17" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-18.png" alt="press-18" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-19.png" alt="press-19" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-20.png" alt="press-20" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-21.png" alt="press-21" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-22.png" alt="press-22" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-23.png" alt="press-23" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-24.png" alt="press-24" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-25.png" alt="press-25" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-26.png" alt="press-26" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-27.png" alt="press-27" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-28.png" alt="press-28" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-29.png" alt="press-29" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-30.png" alt="press-30" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-31.png" alt="press-31" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-32.png" alt="press-32" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-33.png" alt="press-33" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-34.png" alt="press-34" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-35.png" alt="press-35" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-36.png" alt="press-36" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-37.png" alt="press-37" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-38.png" alt="press-38" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-39.png" alt="press-39" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-40.png" alt="press-40" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-41.png" alt="press-41" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-42.png" alt="press-42" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-43.png" alt="press-43" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-44.png" alt="press-44" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-45.png" alt="press-45" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-46.png" alt="press-46" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-47.png" alt="press-47" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-48.png" alt="press-48" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-49.png" alt="press-49" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-50.png" alt="press-50" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-51.png" alt="press-51" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-52.png" alt="press-52" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-53.png" alt="press-53" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-54.png" alt="press-54" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-55.png" alt="press-55" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-56.png" alt="press-56" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-57.png" alt="press-57" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-58.png" alt="press-58" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-59.png" alt="press-59" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-60.png" alt="press-60" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-61.png" alt="press-61" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-62.png" alt="press-62" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-63.png" alt="press-63" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-64.png" alt="press-64" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-65.png" alt="press-65" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-66.png" alt="press-66" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-67.png" alt="press-67" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-68.png" alt="press-68" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-69.png" alt="press-69" loading="lazy"></div>
		<div class="slider-press__item"><img src="img/press/press-70.png" alt="press-70" loading="lazy"></div>
	</div>

</div>
