.slider-press {
	background-color: $cod-gray;

	&__title {
		padding: 100px 0;
		font-family: "sf-pro-heavy";
		font-size: 40px;
		text-align: center;
		color: $white;
		cursor: pointer;

		h4:hover {
			color: $green;
			transition: color 0.4s ease 0s;
		}

		@media only screen and (max-width: 414px) {
			padding: 20px;
			font-size: 28px;
		}
	}

	&__list {
		padding: 10px;
	}

	&__item {
		img {
			width: 175px;
			margin: 0 10px 10px 0;
		}
	}
}
