.header {
	&__fixed {
		position: fixed;
		z-index: 100;
		width: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		height: 53px;
		background-color: $cod-gray;

		&.header__wrapper-green {
			@media only screen and (max-width: 980px) {
				background-color: $green;
			}
		}
	}

	&__item {
		width: 33.3333%;

		&.bg-green,
		&.logo {
			@media only screen and (max-width: 980px) {
				display: none;
			}
		}

		@media only screen and (max-width: 980px) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
	}

	&__logo,
	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;

		@media only screen and (max-width: 980px) {
			display: none;
		}
	}

	&__logo {
		img {
			width: 41px;
		}
	}

	&__socials {
		height: inherit;
	}

	&__socials-item {
		margin: 0 10px;

		img {
			width: 20px;
			height: 20px;
		}
	}
}

.burger__menu {
	margin-left: 100px;
	width: 30px;
	height: 30px;

	@media only screen and (max-width: 980px) {
		margin-left: 0;
				
	}
}
