.slider-submitting {
	width: 100%;
	height: 100%;
}

.slider-submit {
	padding: 10px;
	width: 100%;
	background-color: $white;

	&__item {
		margin-right: 10px;
		width: 540px;

		img {
			width: 540px;
			height: 540px;
		}
	}
}
